# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
jenkinsfile
README.md
/target/
.DS_Store
/src/test/resources/data/Token.json
/src/test/resources/config.properties
/target
